default_language_version:
    python: python3.8

repos:

# Automatically sort imports
- repo: https://github.com/PyCQA/isort.git
  rev: 5.5.2
  hooks:
  - id: isort

# Automatic source code formatting
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    args: [--safe, --quiet]

- repo: https://github.com/PyCQA/flake8
  rev: 3.8.3
  hooks:
  - id: flake8

  # Syntax check and some basic flake8
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.782
  hooks:
  - id: mypy
